<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/css/foundation.min.css">
    <link rel="stylesheet" href="/assets/css/sorter.css">
    <link rel="stylesheet" href="/assets/css/app.css">

    <script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/jquery-latest.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>

    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="16x16">

    <title>Technical Test Project - Loans</title>
</head>
<body>
<div class="row">
    <div class="large-12 columns">
        <h1>Linked-Finance Technical Test Project:</h1>
        <h2>Description:</h2>
        In this project, I used different external components :
        <ul>
            <li>twig : for templating</li>
            <li>foundation 6 : as css/js framework</li>
            <li>jqueryTableSorter : for sorting easily table columns</li>
            <li>jquery</li>
        </ul>

    </div>
    <hr>
</div>
<div class="row">
    <div class="large-6 columns">
        <h1>Most Recent Loans</h1>
        <div id="container">
            <div id="loans_table">
                <table border="1" id="loans-table" class="tablesorter">
                    <thead>
                    <tr>
                        <th class="header">Description</th>
                        <th class="header">Amount</th>
                        <th class="header" data-sorter="shortDate" data-date-format="dd/mm/yyyy">Date</th>
                        <th class="header">Bids</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for loan in loans %}
                        <tr class="loan_row" id="loan_{{ loan.id }}">
                            <td >{{ loan.display_name }}</td>
                            <td>€{{ loan.amount }}</td>
                            <td>{{ loan.creation_date }}
                            <td><a href="#"  data-id="{{ loan.id }}" id ="symbol_{{ loan.id }}">+</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="large-6 columns">
        {%  for loan in loans %}
            <div class="bid_table" id="bid_{{ loan.id }}" style="display:none;">
                <h1>Bids for loan n°= {{ loan.id }}</h1>
                <table class="tablesorter bids">
                    <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Rate</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for bid in loan.bids%}
                        <tr>
                            <td>€{{ bid.amount }}</td>
                            <td>{{ bid.rate }}</td>
                            <td>{{ bid.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $("#loans-table").tablesorter(
        {   dateFormat: 'dd/mm/yyyy',
            headers:
            {
                2:{sorter:'datetime'}
            },
            sortList: [[2,1]]


        });
        $(".bids").tablesorter(
        {   dateFormat: 'dd/mm/yyyy',
            headers:
            {
                2:{sorter:'datetime'}
            }
        });

        $(".loan_row").click(function(event) {

            var loanId =  $(this).attr('id').substr(5);

            /*Run through every row*/
            $( ".bid_table").each(function( ) {

                var sub_id =  $(this).attr('id').substr(4);

                if(sub_id != loanId) {
                    $(this).hide();
                    $("#symbol_" + sub_id).html("+");
                }else{
                    var sym = $("#symbol_" + loanId);
                    if($(this).is(":visible")){
                        $(this).hide();
                        sym.html("+");
                    }else{
                        $(this).show("display");
                        sym.html("-");
                    }
                }
            });

            event.preventDefault();
        })

    });
</script>

</body>
</html>